.carousel {
  width: 55%;
  margin: 0 auto;
}

.buttons {
  width: 25%;
  height: 25%;
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  [class*="carousel"] {
    width: 60vw;
    margin: 0 auto;
  }
}

/* iphone 6 7 8 */
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {
  [class*="carousel"] {
    width: 60vw;
    margin: 0 auto;
  }
}

/* iphone X */
@media only screen
and (min-device-width : 375px)
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) {
  [class*="carousel"] {
    width: 60vw;
    margin: 0 auto;
  }
}

/* ipad */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  {
  [class*="carousel"] {
    width: 50vw;
    margin: 0 auto;
  }
}
