.logo-grid {
  display: grid;
  grid-area: logo;
  width: 100%;
  grid-column-gap: 1em;
  grid-row-gap: 0;
  grid-template-rows: 10em 20em;
  grid-template-columns: repeat(10em);
  grid-template-areas:
    'logo-header'
    'logo';
}

.logo-intro {
  grid-area: logo-header;
  text-align: center;
  font-size: large;
  color: #DF744A;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 4rem;
  padding-bottom: 1rem;
  background-color: #FEDCD2;
  font-family: var(--main-font);
  grid-column-start: 1;
  grid-column-end: 11;
  grid-row-start: auto;
}

.redfin {
  grid-area: logo;
  grid-column: 1;
  grid-row: 2;
  padding-left: 3em;
  max-height:100%;
  width: 100%;
  background-image: url(./images/redfin.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  cursor: pointer;
}

.people {
  grid-area: logo;
  grid-column: 2;
  grid-row: 2;
  max-height:100%;
  width: 100%;
  background-image: url(./images/peoplemag.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}

.xfinity {
  grid-area: logo;
  grid-column: 3;
  grid-row: 2;
  max-height:100%;
  width: 100%;
  background-image: url(./images/xfinity.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  cursor: pointer;
}

.buzzfeed {
  grid-area: logo;
  grid-column: 4;
  grid-row: 2;
  max-height:100%;
  width: 100%;
  background-image: url(./images/buzzfeed.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}

.grey {
  grid-area: logo;
  grid-column: 5;
  grid-row: 2;
  max-height:100%;
  width: 100%;
  background-image: url(./images/grey.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}

.portersail {
  grid-area: logo;
  grid-column: 6;
  grid-row: 2;
  max-height:100%;
  width: 100%;
  background-image: url(./images/portersail.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}

.fabfitfun {
  grid-area: logo;
  grid-column: 7;
  grid-row: 2;
  max-height:100%;
  width: 100%;
  background-image: url(./images/fabfitfun.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}

.mtv {
  grid-area: logo;
  grid-column: 8;
  grid-row: 2;
  max-height:100%;
  width: 100%;
  background-image: url(./images/mtv.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  cursor: pointer;
}

.jerusalem-post {
  grid-area: logo;
  grid-column: 9;
  grid-row: 2;
  max-height:100%;
  width: 100%;
  background-image: url(./images/jerusalempost.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}

.secret-escapes {
  grid-area: logo;
  grid-column: 10;
  grid-row: 2;
  padding-right: 2em;
  max-height:100%;
  width: 100%;
  background-image: url(./images/secretescapes.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}

@media (min-width: 481px) and (max-width: 812px) {

  [class*="logo-grid"] {
    display: grid;
    grid-area: logo;
    width: 100vw;
    grid-column-gap: 1em;
    grid-row-gap: 0;
    grid-template-rows: 10em 10em 10em 10em 10em 10em;
    grid-template-columns: repeat(10em);
    grid-template-areas:
      'logo-header'
      'redfin people'
      'xfinity buzzfeed'
      'grey portersail'
      'fabfitfun mtv'
      'jpost secret';
  }

  [class*="redfin"] {
    grid-area: redfin;
    /* grid-column: 1;
    grid-row: 2; */
    padding-left: 3em;
    max-height:100%;
    width: 100%;
    background-image: url(./images/redfin.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    cursor: pointer;
  }

  [class*="people"] {
    grid-area: logo;
    grid-column: 2;
    grid-row: 2;
    max-height:100%;
    width: 100%;
    background-image: url(./images/peoplemag.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }

  h1 { font-size: 16pt !important; }
  h2 { font-size: 14pt !important; }
  h3 { font-size: 12pt !important; }

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {

  [class*="logo-grid"] {
    display: grid;
    grid-area: logo;
    width: 100vw;
    grid-column-gap: 1em;
    grid-row-gap: 0;
    grid-template-rows: 50vw 50vw 50vw 50vw 50vw 50vw;
    grid-template-columns: 50vw 50vw;
    grid-template-areas:
      'logo-header'
      'redfin people'
      'xfinity buzzfeed'
      'grey portersail'
      'fabfitfun mtv'
      'jpost secret';
  }

  [class*="redfin"] {
    grid-area: redfin;
    grid-column: 1;
    grid-row: 2;
    padding-left: 3em;
    max-height:100%;
    width: 100%;
    background-image: url(./images/redfin.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    cursor: pointer;
  }

  [class*="people"] {
    grid-area: people;
    grid-column: 2;
    grid-row: 2;
    max-height:100%;
    width: 100%;
    background-image: url(./images/peoplemag.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }

  [class*="xfinity"] {
    grid-area: xfinity;
    grid-column: 1;
    grid-row: 3;
    max-height:100%;
    width: 100%;
    background-image: url(./images/xfinity.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    cursor: pointer;
  }

  [class*="buzzfeed"] {
    grid-area: buzzfeed;
    grid-column: 2;
    grid-row: 3;
    max-height:100%;
    width: 100%;
    background-image: url(./images/buzzfeed.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }

  [class*="grey"] {
    grid-area: grey;
    grid-column: 1;
    grid-row: 4;
    max-height:100%;
    width: 100%;
    background-image: url(./images/grey.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }

  [class*="portersail"] {
    grid-area: portersail;
    grid-column: 2;
    grid-row: 4;
    max-height:100%;
    width: 100%;
    background-image: url(./images/portersail.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }

  [class*="fabfitfun"] {
    grid-area: fabfitfun;
    grid-column: 1;
    grid-row: 5;
    max-height:100%;
    width: 100%;
    background-image: url(./images/fabfitfun.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }

  [class*="mtv"] {
    grid-area: mtv;
    grid-column: 2;
    grid-row: 5;
    max-height:100%;
    width: 100%;
    background-image: url(./images/mtv.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    cursor: pointer;
  }

  [class*="jerusalem-post"] {
    grid-area: jpost;
    grid-column: 1;
    grid-row: 6;
    max-height:100%;
    width: 100%;
    background-image: url(./images/jerusalempost.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }

  [class*="secret-escapes"] {
    grid-area: secret;
    grid-column: 2;
    grid-row: 6;
    max-height:100%;
    width: 100%;
    background-image: url(./images/secretescapes.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }

  h1 { font-size: 10pt !important; }
  h2 { font-size: 10pt !important; }
  h3 { font-size: 10pt !important; }

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {

  [class*="logo-grid"] {
    display: grid;
    grid-area: logo;
    width: 100vw;
    grid-column-gap: 1em;
    grid-row-gap: 0;
    grid-template-rows: 10em 5em 10em;
    grid-template-columns: repeat(10em);
    grid-template-areas:
      'logo-header'
      'description'
      'logo';
  }

  h1 { font-size: 13pt !important; }
  h2 { font-size: 11pt !important; }
  h3 { font-size: 10pt !important; }

}
