.home-grid {
  display: grid;
  height: 100%;
  grid-column-gap: 0;
  grid-row-gap: 0;
  grid-template-rows: 10em 50em 30em 50em;
  grid-template-columns: 30em auto auto 30em auto auto;
  grid-template-areas:
    'header header header header header header'
    'left-pic left-desc left-desc right-pic right-desc right-desc'
    'logo logo logo logo logo logo'
    'work-together work-together work-together work-pic work-pic work-pic'
}

.intro {
  grid-area: header;
  text-align: center;
  font-size: large;
  color: #DF744A;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 4rem;
  padding-bottom: 5rem;
  background-color: #FEDCD2;
  font-family: var(--main-font);
  height: 10rem;
}

.travel-pic {
  grid-area: left-pic;
  float: left;
  width: 100%;
  background-image: url('./em_azores.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.lifestyle-pic {
  grid-area: right-pic;
  width: 100%;
  background-image: url('./em_food.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.work-pic {
  grid-area: work-pic;
  width: 100%;
  background-image: url('./go_get_em.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

@media (min-width: 481px) and (max-width: 812px) {

  [class*="intro"] {
    grid-area: header;
    text-align: center;
    font-size: large;
    color: #DF744A;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 4rem;
    padding-bottom: 5rem;
    background-color: #FEDCD2;
    font-family: var(--main-font);
    height: 10rem;
  }

  [class*="icons"] {
    float: right;
    font-size: 10pt;
    padding-left: 0em;
    padding-right: 0em;
    padding-top: 0em;
    padding-bottom: 0em;
  }

  h1 { font-size: 16pt !important; }
  h2 { font-size: 14pt !important; }
  h3 { font-size: 12pt !important; }

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {

  [class*="intro"] {
    grid-area: header;
    text-align: center;
    font-size: 10pt;
    color: #DF744A;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 5rem;
    background-color: #FEDCD2;
    font-family: var(--main-font);
    max-width: 100vw;
    height: inherit;
  }

  [class*="home-grid"] {
    display: grid;
    font-size: 10pt;
    /* max-height: inherit; */
    max-width: 100vw;
    grid-column-gap: 0;
    grid-row-gap: 0;
    grid-template-rows: 8em 30em 30em 30em 10em;
    grid-template-columns: 50vw 50vw;
    grid-template-areas:
      'header'
      'left-pic left-desc'
      'right-desc right-pic '
      'logo'
      'work-together work-pic'
  }

  [class*="travel-pic"] {
    grid-area: left-pic;
    width: 50vw;
    font-size: 8pt;
    background-image: url('./em_azores.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }

  [class*="lifestyle-pic"] {
    grid-area: right-pic;
    width: 50vw;
    font-size: 8pt;
    background-image: url('./em_food.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }

  h1 { font-size: 10pt !important; }
  h2 { font-size: 10pt !important; }
  h3 { font-size: 10pt !important; }

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {

  [class*="header"] {
    text-align: left;
    font-size: 10pt;
    padding-left: 0em;
    padding-right: 0em;
    padding-top: 0em;
    padding-bottom: 0em;
  }

  [class*="icons"] {
    float: right;
    font-size: 10pt;
    padding-left: 0em;
    padding-right: 0em;
    padding-top: 0em;
    padding-bottom: 0em;
  }

  h1 { font-size: 13pt !important; }
  h2 { font-size: 11pt !important; }
  h3 { font-size: 10pt !important; }

}
