.samples-container {
  text-align: center;
  font-size: large;
  padding-left: 10em;
  padding-right: 10em;
  padding-top: 2em;
  padding-bottom: 2em;
  min-height: 80vh;
  font-family: var(--main-font);
  background-color: #FEDCD2;
}

.samples-text {
  text-align: center;
  max-width: 50%;
  font-size: large;
  color: #DF744A;
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.header {
  font-family: 'Comfortaa';
  cursor: pointer;
}

@media (min-width: 481px) and (max-width: 812px) {

  [class*="samples-container"] {
    text-align: center;
    font-size: large;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 2em;
    padding-bottom: 2em;
    min-height: 80vh;
    font-family: var(--main-font);
    background-color: #FEDCD2;
  }

  [class*="samples-text"] {
    text-align: center;
    max-width: 100%;
    font-size: 12pt;
    color: #DF744A;
    position: relative;
    display: inline-block;
    vertical-align: top;
  }

  h1 { font-size: 16pt !important; }
  h2 { font-size: 14pt !important; }
  h3 { font-size: 12pt !important; }

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {

  [class*="samples-container"] {
    text-align: center;
    font-size: 15pt;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 2em;
    padding-bottom: 2em;
    min-height: 80vh;
    font-family: var(--main-font);
    background-color: #FEDCD2;
  }

  [class*="samples-text"] {
    text-align: center;
    max-width: 100%;
    font-size: 14pt;
    color: #DF744A;
    position: relative;
    display: inline-block;
    vertical-align: top;
  }

  h1 { font-size: 16pt !important; }
  h2 { font-size: 14pt !important; }
  h3 { font-size: 12pt !important; }

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {

  [class*="samples-container"] {
    text-align: center;
    font-size: large;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 2em;
    padding-bottom: 2em;
    min-height: 80vh;
    font-family: var(--main-font);
    background-color: #FEDCD2;
  }

  [class*="samples-text"] {
    text-align: center;
    max-width: 100%;
    font-size: 12pt;
    color: #DF744A;
    position: relative;
    display: inline-block;
    vertical-align: top;
  }

  h1 { font-size: 16pt !important; }
  h2 { font-size: 14pt !important; }
  h3 { font-size: 12pt !important; }

}
