.about-container {
  display: inline-block;
  min-height: 100vh;
}

.about-pic {
  display: inline-block;
  width: 50%;
  min-height: inherit;
  float: left;
  background-image: url('./images/em_bowie.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.about-text {
  float: right;
  min-height: inherit;
  width: 50%;
  text-align: center;
  font-family: var(--main-font);
  font-size: large;
  color: #DF744A;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: #FEDCD2;
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 812px) {

  [class*="about-container"] {
    display: block;
    margin: 0 auto;
  }

  [class*="about-pic"] {
    display: block;
    float: none;
    width: 100%;
    background-size: contain;
    min-height: 100vw;
  }

  [class*="about-text"] {
    display: block;
    float: none;
    width: 100%;
  }

  h1 { font-size: 16pt !important; }
  h2 { font-size: 14pt !important; }
  h3 { font-size: 12pt !important; }

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {

  [class*="about-container"] {
    display: block;
    margin: 0 auto;
  }

  [class*="about-pic"] {
    display: block;
    float: none;
    width: 100%;
    background-size: contain;
    min-height: 100vw;
  }

  [class*="about-text"] {
    display: block;
    float: none;
    width: 100vw;
  }

  h1 { font-size: 10pt !important; }
  h2 { font-size: 10pt !important; }
  h3 { font-size: 10pt !important; }

}

/* iPhone 6 7 8 portrait */

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : portrait) {
  [class*="about-container"] {
    display: block;
    margin: 0 auto;
  }

  [class*="about-pic"] {
    display: block;
    float: none;
    width: 100%;
    background-size: contain;
    height: 100vw;
  }

  [class*="about-text"] {
    display: block;
    float: none;
    width: 100vw;
  }

  h1 { font-size: 10pt !important; }
  h2 { font-size: 10pt !important; }
  h3 { font-size: 10pt !important; }
}

/* iPhone 6 7 8 landscape */

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : landscape) {
  [class*="about-container"] {
    display: inline-block;
    min-height: 100vh;
    width: 100vw;
  }

  [class*="about-pic"] {
    display: inline-block;
    width: 50%;
    min-height: inherit;
    float: left;
    background-image: url('./images/em_bowie.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }

  [class*="about-text"] {
    float: right;
    /* min-height: inherit; */
    max-height: 50vw;
    /* overflow-y: scroll; */
    width: 50%;
    text-align: center;
    font-family: var(--main-font);
    font-size: small;
    color: #DF744A;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: #FEDCD2;
  }

  h1 { font-size: 10pt !important; }
  h2 { font-size: 10pt !important; }
  h3 { font-size: 10pt !important; }

 }

 /* iphone 6 7 8 PLUS portrait */
 @media only screen
and (min-device-width : 414px)
and (max-device-width : 736px)
and (orientation : portrait) {
  [class*="about-container"] {
    display: block;
    margin: 0 auto;
  }

  [class*="about-pic"] {
    display: block;
    float: none;
    width: 100%;
    background-size: contain;
    height: 100vw;
  }

  [class*="about-text"] {
    display: block;
    float: none;
    width: 100vw;
  }

  h1 { font-size: 10pt !important; }
  h2 { font-size: 10pt !important; }
  h3 { font-size: 10pt !important; }
}

 /* iphone 6 7 8 PLUS landscape */

@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px)
and (orientation : landscape) {
  [class*="about-container"] {
    display: inline-block;
    min-height: 100vh;
    width: 100vw;
  }

  [class*="about-pic"] {
    display: inline-block;
    width: 50%;
    min-height: inherit;
    float: left;
    background-image: url('./images/em_bowie.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }

  [class*="about-text"] {
    float: right;
    /* min-height: inherit; */
    max-height: 50vw;
    /* overflow-y: scroll; */
    width: 50%;
    text-align: center;
    font-family: var(--main-font);
    font-size: small;
    color: #DF744A;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: #FEDCD2;
  }

  h1 { font-size: 10pt !important; }
  h2 { font-size: 10pt !important; }
  h3 { font-size: 10pt !important; }
}

/* iphone X portrait */
@media only screen
and (min-device-width : 375px)
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3)
and (orientation : portrait) {
  [class*="about-container"] {
    display: block;
    margin: 0 auto;
  }

  [class*="about-pic"] {
    display: block;
    float: none;
    width: 100%;
    background-size: contain;
    height: 100vw;
  }

  [class*="about-text"] {
    display: block;
    float: none;
    width: 100vw;
  }

  h1 { font-size: 10pt !important; }
  h2 { font-size: 10pt !important; }
  h3 { font-size: 10pt !important; }
}

/* ipad portrait*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
  [class*="about-container"] {
    display: inline-block;
    min-height: 100vw;
    width: 100vw;
    background-color: #FEDCD2;
  }

  [class*="about-pic"] {
    display: inline-block;
    width: 50%;
    min-height: 50vw;
    float: left;
    background-image: url('./images/em_bowie.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }

  [class*="about-text"] {
    float: right;
    min-height: 50vw;
    width: 50%;
    text-align: center;
    font-family: var(--main-font);
    font-size: medium;
    color: #DF744A;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: #FEDCD2;
  }

  h1 { font-size: 10pt !important; }
  h2 { font-size: 10pt !important; }
  h3 { font-size: 10pt !important; }
}

/* ipad landscape */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
  [class*="about-container"] {
    display: inline-block;
    min-height: 50vw;
    width: 100vw;
  }

  [class*="about-pic"] {
    display: inline-block;
    width: 50%;
    min-height: 50vw;
    float: left;
    background-image: url('./images/em_bowie.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }

  [class*="about-text"] {
    float: right;
    min-height: 50vw;
    width: 50%;
    text-align: center;
    font-family: var(--main-font);
    font-size: medium;
    color: #DF744A;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: #FEDCD2;
  }

  h1 { font-size: 10pt !important; }
  h2 { font-size: 10pt !important; }
  h3 { font-size: 10pt !important; }
}


/* @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {

  [class*="about-container"] {
    display: block;
    margin: 0 auto;
  }

  [class*="about-pic"] {
    display: block;
    float: none;
    width: 100vw;
    background-size: cover;
    min-height: 100vw;
  }

  [class*="about-text"] {
    display: block;
    float: none;
    width: 100vw;
  }

  h1 { font-size: 13pt !important; }
  h2 { font-size: 11pt !important; }
  h3 { font-size: 10pt !important; }

} */

/* @media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
  [class*="about-container"] {
    display: block;
    margin: 0 auto;
  }

  [class*="about-pic"] {
    display: block;
    float: none;
    width: 100%;
    background-size: contain;
    min-height: 100vw;
  }

  [class*="about-text"] {
    display: block;
    float: none;
    width: 100%;
  }
} */
