.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.block {
  text-align: left;
  font-size: large;
  padding-left: 10em;
  padding-right: 10em;
  padding-top: 2em;
  padding-bottom: 2em;
}

.large.text {
   font-size: 50px;
}

.nav {
  font-family: monospace;
}

.header {
  text-align: center;
  font-size: large;
  padding-left: 10em;
  padding-right: 10em;
  padding-top: 6em;
  padding-bottom: 3em;
}

.icons {
  float: right;
  padding-right: 4em;
  padding-top: 2em;
}

.intro {
  text-align: center;
  font-size: large;
  padding-left: 4em;
  padding-right: 4em;
  padding-top: 6em;
  padding-bottom: 6em;
  background-color: #A7B3A5;
  font-family: fantasy;
}

.bio {
  text-align: left;
  font-size: large;
  padding-left: 4em;
  padding-right: 3em;
  padding-top: 2em;
  padding-bottom: 2em;
  width: 60%;
  background-color: white;
  position: relative;
}

.mid {
  /* text-align: left;
  font-size: large;
  padding-left: 4em;
  padding-right: 3em;
  padding-top: 2em;
  padding-bottom: 2em; */
  width: 100%;
  height: 30%;
  position: absolute;
}

.postmid {
  /* text-align: left;
  font-size: large;
  padding-left: 4em;
  padding-right: 3em;
  padding-top: 2em;
  padding-bottom: 2em; */
  width: 100%;
  position: relative;
}

.travelGuides {
  float: left;
  text-align: left;
  font-size: large;
  padding-left: 4em;
  padding-right: 3em;
  padding-top: 2em;
  padding-bottom: 2em;
  width: 50%;
  background-color: white;
  position: relative;
}

.lifestyle {
  float: right;
  text-align: left;
  font-size: large;
  padding-left: 4em;
  padding-right: 3em;
  padding-top: 2em;
  padding-bottom: 2em;
  width: 50%;
  background-color: white;
  position: relative;
}

.profilePic {

}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
