.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.block {
  text-align: left;
  font-size: large;
  padding-left: 10em;
  padding-right: 10em;
  padding-top: 2em;
  padding-bottom: 2em;
}

.large.text {
   font-size: 50px;
}

.nav {
  font-family: monospace;
}

.header {
  text-align: center;
  font-size: large;
  padding-left: 10em;
  padding-right: 10em;
  padding-top: 6em;
  padding-bottom: 3em;
}

.icons {
  float: right;
  padding-right: 4em;
  padding-top: 2em;
}

.intro {
  grid-area: header;
  text-align: center;
  font-size: large;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 4rem;
  padding-bottom: 5rem;
  background-color: #A7B3A5;
  font-family: sans-serif;
  height: 10rem;
}

.bio {
  text-align: left;
  float: left;
  font-size: large;
  padding-left: 4em;
  /* padding-right: 3em; */
  padding-top: 2em;
  padding-bottom: 2em;
  width: 50%;
  /* background-color: white; */
  position: absolute;
}

.mid {
  /* text-align: left;
  font-size: large;
  padding-left: 4em;
  padding-right: 3em;
  padding-top: 2em;
  padding-bottom: 2em; */
  width: 100%;
  height: 100%;
  position: absolute;
}

.postmid {
  /* text-align: left;
  font-size: large;
  padding-left: 4em;
  padding-right: 3em;
  padding-top: 2em;
  padding-bottom: 2em; */
  width: 100%;
  position: relative;
}

.travel-guides {
  grid-area: left-desc;
  float: left;
  text-align: left;
  font-size: large;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 4em;
  padding-bottom: 2em;
}

.lifestyle {
  grid-area: right-desc;
  float: right;
  text-align: left;
  font-size: large;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 4em;
  padding-bottom: 2em;
}

.travel-pic {
  grid-area: left-pic;
  float: left;
  width: 100%;
  background-image: url(ramen.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.lifestyle-pic {
  grid-area: right-pic;
  /* float: right; */
  width: 100%;
  background-image: url(poznan.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.pic {
  float: right;
  /* background-position: 50%; */
  /* max-width: 700px; */
}

/* .item1 { grid-area: header; } */
.item2 { grid-area: left-pic; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.home-grid {
  display: grid;
  height: 100vh;
  grid-column-gap: 0;
  grid-row-gap: 0;
  grid-template-rows: 10em 50em 50em;
  grid-template-columns: 30em auto auto 30em auto auto;
  grid-template-areas:
    'header header header header header header'
    'left-pic left-desc left-desc right-pic right-desc right-desc'
    'menu footer footer footer footer footer';
}

.logo-grid {
  display: grid;
  height: inherit;
  grid-column-gap: 0;
  grid-row-gap: 0;
  grid-template-rows: auto auto auto;
  grid-template-columns: 30em auto auto 30em auto auto;
  grid-template-areas:
    'header header header header header header'
    'left-pic left-desc left-desc right-pic right-desc right-desc'
    'menu footer footer footer footer footer';
}

/* .ui.stackable.grid > .row.noPadding {
  padding: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
} */

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
